body {
    background-color: rgb(212, 202, 57);
}

h1, h2, h3 {
    color: blue;
    text-align: center;
}

li {
    color: blue;
}

.about {
color: rgb(255, 102, 0);
   text-align: center; 
}

.todo {
    color: red;
    text-align: center; 
 }
 
.btn-left {
     left: auto;
 }