{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="{% static 'favicon.ico' type='image/x-icon' %}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--- <link rel="stylesheet"  href="{% static 'css/main.css' type='text/css' %}"> -->
    <!--Bootstrap CSS --> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet"  href="{% static 'css/main.css' type='text/css' %}">

   <!-- <title>{% block head_title %}{% endblock %} Vitanova</title> -->
   <!---<link rel="stylesheet" type="text/css" href='/home/jan/vitanova/contacts/css/main.css'> -->
   <style type="text/css">
    h1, h2, h3 {
      color:blue;
      
    }
    li {
      color:blue;
    }
    h1 {
      text-align: center;
    }
    nav-index, nav-link {
      color:blue;
    }
   .nav-bar {
      color:green;
    }
</style>

  </head>
  <body>
    {% include 'navbar.html' %}
    <div class='container-fluid'>
         {% block content %}
         {% endblock %}
    </div>
    {% include 'js.html' %}
  </body>
  <hr>
  <form>
    <input type="button" value="Terug" onclick="history.back()">
   </form>
</html>