{% extends 'base.html' %}
{% block head_title %} 
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md">
    </div>

    <div class="col-md">
      <h2>Zaal</h2> 
    </div>

    <div class="col-md">
    </div>

    <div class="col-md">
      <a class="btn btn-sm btn-dark" href="{% url 'exportZaal' %}">Export </a>
      <!--
      <input type="button" class="btn btn-primary btn-sm" value="Terug" onclick="history.back()">
      -->
    </div>

    <div class="col-md">
    </div>
    
     <div class="alert alert-dark" role="alert">
      {{aantal}} 
    </div>
  </div>
</div>


<br>
<table class="table">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Naam</th>
      <th scope="col">Plaats</th>
      <th scope="col">Website</th>
      <th scope="col">Akties</th>
    </tr>
  </thead>
  {% if zalen %}
  <tbody>
    {% for zaal in zalen %}
       <!-- <th scope="row">{{zaal.id}}</th> -->
       <th> {{zaal.naam}} </th>
       <th> {{zaal.plaats}} </th> 
       <th> {{zaal.website}} </th>
       <th><a class="btn btn-sm btn-info" href="{% url 'editZaal' zaal.id %}">Edit</a></th>
       <th><a class="btn btn-sm btn-danger" href="{% url 'deleteZaal' zaal.id %}">Delete</a></th>  
    </tbody>
   {% endfor %}
  </table>
  {% else %}
    <strong>Er zijn geen zalen</strong>
  {% endif %}
 </div>
{% endblock %}