{% extends 'base.html' %}
{% block head_title %} 
{% endblock %}
{% block content %}
<h2>Fanclubs</h2>
<hr>
<table class="table">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Naam</th>
      <th scope="col">Aantal Leden</th>
      <th scope="col">Website</th>
      <th scope="col">Akties</th>
    </tr>
  </thead>
  {% if fanclubs %}
  <tbody>
    {% for fanclub in fanclubs %}
       <!-- <th scope="row">{{zaal.id}}</th> -->
       <th> {{fanclub.naam}} </th>
       <th> {{fanclub.aantal_leden}} </th> 
       <th> {{fanclub.website}} </th>
       <th><a class="btn btn-sm btn-info" href="{% url 'editFanclub' fanclub.id %}">Edit</a></th>
       <th><a class="btn btn-sm btn-danger" href="{% url 'deleteFanclub' fanclub.id %}">Delete</a></th>  
    </tbody>  
   {% endfor %}
  </table>
  {% else %}
    <strong>Er zijn geen fanclubs</strong>
  {% endif %}
 </div>
{% endblock %}