{% extends 'base.html' %}
{% block head_title %} {% endblock %}
{% block content %}
{% load static %}

<h2 class='container'>Band</h2>
<ul>
  <!--
  <div class="nav-index">
    <a class="nav-index" href="/vitanova/createBand">Nieuw</a>
  </div>
  -->
  <hr> 
  <div class="nav-index">
      <a class="nav-index" href="/vitanova/allBand">Alle Bands</a>
  </div>
  <hr>
  <div class="nav-index">
      <a class="nav-index" href="/vitanova/sNaamBand">Zoek op Naam</a>
  </div>
  <div class="nav-Index">
      <a class="nav-index" href="/vitanova/sGenreBand">Zoek op Genre</a>
  </div>
  <div class="nav-Index">
    <a class="nav-index" href="/vitanova/sAantalLedenBand">Zoek op Aantal leden</a>
  </div>
  <div class="nav-Index">
    <a class="nav-index" href="/vitanova/sBedragBand">Zoek op Gage bedrag</a>
  </div>
  <hr>
</ul>
{% endblock %}
