{% extends 'base.html' %}
{% block head_title %} {% endblock %}
{% block content %}
{% load static %}
<h2 class='container'>Cateraar</h2>
<ul>
  <!--
  <div class="nav-index">
    <a class="nav-index" href="/vitanova/createCateraar">Nieuw</a>
  </div>
  -->
  <hr> 
  <div class="nav-index">
      <a class="nav-index" href="/vitanova/allCateraar">Alle Cateraars</a>
  </div>

  <div class="nav-index">
    <a class="nav-index" href="/vitanova/sNaamCateraar">Zoek op Naam</a>
  </div>
  <hr>
</ul>
{% endblock %}