{% extends 'base.html' %}

{% block head_title %} 

{% endblock %}

{% block content %}
{% load static %}

<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> --->
<!--


 <style type="text/css">
    h2, h3 {
      color:blue;
    }
    .nav-index, .nav-link {
      color:green;
    }
</style>
-->

<hr>
    <h2 class='container'>Contact </h2>

<hr>
<ul>
    <div class="nav-index">
        <a class="nav-index" href="/vitanova/contact">Alle Contacten</a>
    <hr>
    <div class="nav-index">
        <a class="nav-index" href="/vitanova/scNaam">Zoek op Naam</a>
    </div>
    <div class="nav-Index">
      <a class="nav-index" href="/vitanova/scVoorNaam">Zoek op Voornaam</a>
    </div>
    <div class="nav-Index">
        <a class="nav-index" href="/vitanova/scPostcode">Zoek op Postcode </a>
    </div>
    <div class="nav-Index">
        <a class="nav-index" href="/vitanova/scPlaats">Zoek op Plaats</a>
    </div>
      
    <div class="nav-Index">
        <a class="nav-index" href="/vitanova/todo">Zoek op Soort (lid)</a>
    </div>

    <div class="nav-Index">
      <a class="nav-index" href="/vitanova/todo">Zoek op Soort (contact)</a>
  </div>
    <div class="nav-Index">
      <a class="nav-index" href="/vitanova/todo">Zoek op Status</a>
    </div>
    <div class="nav-Index">
      <a class="nav-index" href="/vitanova/todo">Zoek op Telefoon</a>
    </div>
    <!--
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  -->
    <hr>
    <div class="nav-index">
        <a class="nav-index" href="/vitanova/c_create/">Nieuw</a>
    </div>
    <hr>     
</ul>
{% endblock %}