{% extends 'base.html' %}

{% block head_title %} {% endblock %}

{% block content %}
<hr>
    <h2 class='container'>Zaal</h2>
<hr>
<ul>
  <div class="nav-index">
    <a class="nav-index" href="/vitanova/zaal">Alle Zalen</a>
  </div>

  <div class="nav-index">
    <a class="nav-index" href="/vitanova/sznaam">Zoek op Naam</a>
  </div>
  <hr>
  <!--
  <div class="nav-Index">
    <a class="nav-index" href="/vitanova/sb_genre">Zoek op Genre</a>
  </div>
  <hr>
  <div class="nav-index">
    <div class="nav-index" href="/vitanova/b_create">Create</a>
    </div>
      --->
</ul>
{% endblock %}