{% extends 'base.html' %}

{% block head_title %} {% endblock %}

{% block content %}
<hr>
    <h2 class='container'>Band</h2>
<hr>
<ul>
  <div class="nav-index">
      <a class="nav-index" href="/vitanova/band">Alle Bands</a>
  </div>
  <div class="nav-index">
      <a class="nav-index" href="/vitanova/sbnaam">Zoek op Naam</a>
  </div>
  <div class="nav-Index">
      <a class="nav-index" href="/vitanova/sbgenre">Zoek op Genre</a>
  </div>
  <div class="nav-Index">
    <a class="nav-index" href="/vitanova/todo">Zoek op Gage</a>
  </div>
  <div class="nav-Index">
    <a class="nav-index" href="/vitanova/todo">Zoek op Aantal leden</a>
  </div>
  <hr>
  <div class="nav-index">
    <a class="nav-index" href="/vitanova/band_create">Nieuw</a>
  </div>
  <hr> 
</ul>
{% endblock %}