{% extends 'base.html' %}

{% block head_title %} {% endblock %}

{% block content %}
<hr>
    <h2>Evenement</h2>
<hr>
<ul>
      <li class="nav-index">
        <a class="nav-index" href="/vitanova/evenement">Alle Evenementen</a>
      </li>
      <li class="nav-index">
        <a class="nav-index" href="/vitanova/sevnaam">Zoek op Naam</a>
      </li>
<!--
      <li class="nav-Index">
        <a class="nav-index" href="/vitanova/sb_genre">Zoek op Genre</a>
      </li>
      <hr>
      <li class="nav-index">
        <a class="nav-index" href="/vitanova/b_create">Create</a>
      </li>
      --->
    
      <hr>
      
</ul>
{% endblock %}