{% extends 'base.html' %}

{% block head_title %} {% endblock %}

{% block content %}
<hr>
    <h2>Contact</h2>
<hr>
<ul>
    <li class="nav-index">
        <a class="nav-index" href="/vitanova/contact">Alle Contacten</a>
      </li>

      <li class="nav-index">
        <a class="nav-index" href="/vitanova/sc_naam">Zoek op Naam</a>
      </li>
      <li class="nav-Index">
        <a class="nav-index" href="/vitanova/sc_adres">Zoek op Adres</a>
      </li>
      <hr>
      <li class="nav-index">
        <a class="nav-index" href="/vitanova/c_create/">Create</a>
     </li>
      
</ul>
{% endblock %}