{% extends 'base.html' %}

{% block head_title %} {% endblock %}

{% block content %}
<hr>
    <h2>Zaal</h2>
<hr>
<ul>
      <li class="nav-index">
        <a class="nav-index" href="/vitanova/zaal">Alle Zalen</a>
      </li>

      <li class="nav-index">
        <a class="nav-index" href="/vitanova/sznaam">Zoek op Naam</a>
     </li>
    <!--
      
      <li class="nav-Index">
        <a class="nav-index" href="/vitanova/sb_genre">Zoek op Genre</a>
      </li>
      <hr>
      <li class="nav-index">
        <a class="nav-index" href="/vitanova/b_create">Create</a>
      </li>
      --->
    
      <hr>
</ul>
{% endblock %}