{% extends 'base.html' %}

{% block head_title %} 

{% endblock %}

{% block content %}
{% load static %}

<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> --->
<!--


 <style type="text/css">
    h2, h3 {
      color:blue;
    }
    .nav-index, .nav-link {
      color:green;
    }
</style>
-->

<hr>
   <!--- <h2  style="color:green">Contact</h2> --->
    <h2>Contacten</h2>

<hr>
<ul>
    <li class="nav-index">
        <a class="nav-index" href="/vitanova/contact">Alle Contacten</a>
    </li>
    <hr>
    <h3>Zoek op</h3>
    <hr>
    <li class="nav-index">
        <a class="nav-index" href="/vitanova/scNaam">Naam</a>
      </li>
      <li class="nav-Index">
        <a class="nav-index" href="/vitanova/scVoorNaam">VoorNaam</a>
      </li>
      <li class="nav-Index">
        <a class="nav-index" href="/vitanova/scPostcode">Postcode </a>
      </li>
      <li class="nav-Index">
        <a class="nav-index" href="/vitanova/scPlaats">Plaats</a>
      </li>
      <li class="nav-Index">
        <a class="nav-index" href="/vitanova/scSoortLid">Soort Lid</a>
      </li>
      <li class="nav-Index">
        <a class="nav-index" href="/vitanova/scSoort">Soort Contact</a>
      </li>

    <hr>
    <h3>Akties</h3>
    <hr>
      <hr>
      <li class="nav-index">
        <a class="nav-index" href="/vitanova/c_create/">Create</a>
     </li>
      
</ul>
{% endblock %}