{% extends 'base.html' %}

{% block head_title %} 

{% endblock %}

{% block content %}
{% load static %}

<h2 class='container'>Contact </h2>
<ul>
  <hr>
    <div class="nav-index">
       <a class="nav-index" href="/vitanova/createContact/">Nieuw</a>
    </div>
    <hr>  
    <div class="nav-index">
        <a class="nav-index" href="/vitanova/allContact">Alle Contacten</a>
    <hr>
    <div class="nav-index">
        <a class="nav-index" href="/vitanova/sNaamContact">Zoek op Naam</a>
    </div>
    <div class="nav-Index">
      <a class="nav-index" href="/vitanova/sVoorNaamContact">Zoek op Voornaam</a>
    </div>
    <div class="nav-Index">
        <a class="nav-index" href="/vitanova/sPostcodeContact">Zoek op Postcode </a>
    </div>
    <div class="nav-Index">
        <a class="nav-index" href="/vitanova/sPlaatsContact">Zoek op Plaats</a>
    </div>

    <div class="nav-Index">
      <a class="nav-index" href="/vitanova/sTelefoonContact">Zoek op Telefoon</a>
    </div>
    <div class="nav-Index">
      <a class="nav-index" href="/vitanova/sMobielContact">Zoek op Mobiel</a>
    </div>
    <hr>
    <div class="nav-Index">
      <a class="nav-index" href="/vitanova/sSoortContact">Zoek op Soort</a>
   </div>

    <div class="nav-Index">
      <a class="nav-index" href="/vitanova/sStatusContact">Zoek op Status</a>
    </div>

    <div class="nav-Index">
      <a class="nav-index" href="/vitanova/sSoortLidContact">Zoek op Soort Lid</a>
    </div>

    <hr>
</ul>
{% endblock %}