{% extends 'base.html' %}
{% block head_title %} {% endblock %}
{% block content %}
{% load static %}
<h2 class='container'>Fanclubs</h2>
<ul>
  <hr> 
  <div class="nav-index">
    <a class="nav-index" href="/vitanova/createFanclub">Nieuw</a>
  </div>
  <hr> 
  <div class="nav-index">
      <a class="nav-index" href="/vitanova/allFanclub">Alle Fanclubs</a>
  </div>
  <div class="nav-index">
      <a class="nav-index" href="/vitanova/sNaamFanclub">Zoek op Naam</a>
  </div>
  <hr> 
</ul>
{% endblock %}