{% extends "base.html" %}
{% block content %}

{% if title %}
    <h2 class='container col text-center'>{{ title }}</h2>
{% endif %}

<div class="form-group">
    <form method='POST' action ="" enctype='multipart/form-data'> 
        <button type="submit" class="btn btn-success">Update</button>      
        
        {% csrf_token %}
        <!--- {{ form.media }} --->
        {{ form.as_p }}
    
        <div class="form-row text-center">
          <button type="submit" class="btn btn-success">Update</button>
        </div>
    </form>
</div>
{% endblock %}