{% extends "base.html" %}
{% block content %}
<hr>
{% if title %}
    <h2 class='container col text-center'>{{ title }}</h2>
{% endif %}
<hr>
<div class="form-group">
    
    <form method='POST' action='' > 
        <div class="form-row text-center">
            <!-- NOT WORKING
            <input type="button" class="btn btn-primary btn-lg" value="Submit" name="Update">
            -->
            <input type ="submit" name="Update">
        </div>
        
        {% csrf_token %}
        {{ form.as_p }}
    
        <div class="form-row text-center">
          <input type ="submit" name="Update">
        </div>
    </form>
</div>
{% endblock %}