{% extends "base.html" %}
{% block content %}

{% if title %}
     <h2 class='container col text-center'>{{ title }}</h2>     
{% endif %}

<div class="form-group">
    <form method='POST' action ="" enctype='multipart/form-data'> 
        {% if title == 'Toevoegen Ticket' %}
            <button type="submit" class="btn btn-success">Toevoegen Ticket</button>
        {% else %}
            <button type="submit" class="btn btn-success">Update</button>
        {% endif %}
        <hr>
        {% csrf_token %}
        <!--- {{ form.media }} --->
        {{ form.as_p }}
        <hr>
        <div class="form-row text-center">
        {% if title == 'Toevoegen Ticket' %}
            <button type="submit" class="btn btn-success">Toevoegen Ticket</button>
        {% else %}
            <button type="submit" class="btn btn-success">Update</button>
        {% endif %}
        </div>
    </form>
</div>
{% endblock %}