{% extends 'base.html' %}

{% block head_title %} {% endblock %}

{% block content %}
<hr>
  <form action="." method="GET">
    <label for="q">Zoek: </label>
    <input type="text" name="q" value="{{ query|escape }}">
    <input type="submit" value="Zoek">
</form>

  {% if query %}
  
    <!--- <h3>Resultaat for "{{ query|escape }}":</h3> --->
    <hr>
    {% if results %}
  
      <ol>
      {% for cateraar in results %}
        <li>{{ cateraar.naam }} {{cateraar.soort }}{{cateraar.catering_prijs }}  {{ cateraar.contact | escape }}</l1>
     {% endfor %}
      </ol>
    {% else %}
      <p>Niks gevonden</p>
    {% endif %}
  {% endif %}
{% endblock %}