{% extends 'base.html' %}
{% block head_title %} 
{% endblock %}
{% block content %}
<h2>Band</h2>
<hr>
<form action="." method="GET">
  <div class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control form-control-sm" name="q"  value="{{ query|escape }}" placeholder="Genre">
    </div>

    <div class="form-group col-md-2">
      <button type="submit" class="btn btn-primary btn-sm">Zoek</button>
    </div>

    <div class="form-group col-md-2">
      <div class="alert alert-dark" role="alert">
        {{aantal}} 
    </div>
  </div>
</form>

<br>

  {% if query %}
  <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Genre</th>
        <th scope="col">Naam</th>
        <th scope="col">Aantal</th>
        <th scope="col">Akties</th>
      </tr>
    </thead>
    
    {% if results %}
    <tbody>
      {% for band in results %}
         <!-- <th scope="row">{{contact.id}}</th> -->
         <th> {{band.genre}} </th>
         <th>
          {% if band.band_image %}
            <img src={{band.band_image.url}} width="50" height="50">
          {% endif %}
          {{band.naam}}
         </th>
         <th> {{band.aantal_leden}} </th>
         <th><a class="btn btn-sm btn-info" href="{% url 'editBand' band.id %}">Edit</a></th>
         <th><a class="btn btn-sm btn-danger" href="{% url 'deleteBand' band.id %}">Delete</a></th>
      </tbody> 
     {% endfor %}
    </table>
    {% else %}
      <p>Niks gevonden</p>
    {% endif %}
  {% endif %}
{% endblock %}