{% extends 'base.html' %}
{% block head_title %} {% endblock %}
{% block content %}
  <form action="." method="GET">
    <label for="q">Zoek: </label>
    <input type="text" name="q" value="{{ query|escape }}">
    <input type="submit" value="Zoek">
</form>

  {% if query %}
  <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Naam</th>
        <th scope="col">Soort</th>
        <th scope="col">Website</th>
      </tr>
    </thead>
    
    {% if results %}
    <tbody>
      {% for cateraar in results %}
         <!-- <th scope="row">{{contact.id}}</th> -->
         <th> {{cateraar.naam}} </th>
         <th> {{cateraar.soort}} </th> 
         <th> {{cateraar.website}} </th> 
         <th><a class="btn btn-sm btn-info" href="{% url 'editCateraar' cateraar.id %}">Edit</a></th>
         <th><a class="btn btn-sm btn-danger" href="{% url 'deleteCateraar' cateraar.id %}">Delete</a></th>
      </tbody> 
     {% endfor %}
    </table>
    {% else %}
      <p>Niks gevonden</p>
    {% endif %}
  {% endif %}
{% endblock %}