{% extends 'base.html' %}
{% block head_title %} 
{% endblock %}
{% block content %}

<h2>Fanclub</h2>
<hr>
<form action="." method="GET">
    <label for="q">Zoek: </label>
    <input type="text" name="q" value="{{ query|escape }}">
    <input type="submit" value="Naam">
</form>

  {% if query %}
  <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Naam</th>
        <th scope="col">Website</th>
        <th scope="col">Aantal</th>
        <th scope="col">Akties</th>
      </tr>
    </thead>
    
    {% if results %}
    <tbody>
      {% for band in results %}
         <!-- <th scope="row">{{contact.id}}</th> -->
         <th> {{band.naam}} </th>
         <th> {{band.website}} </th> 
         <th> {{band.aantal_leden}} </th>
         <th><a class="btn btn-sm btn-info" href="{% url 'editFanclub' band.id %}">Edit</a></th>
         <th><a class="btn btn-sm btn-danger" href="{% url 'deleteFanclub' band.id %}">Delete</a></th>
      </tbody> 
     {% endfor %}
    </table>
    {% else %}
      <p>Niks gevonden</p>
    {% endif %}
  {% endif %}
{% endblock %}