{% extends 'base.html' %}
{% block head_title %} 
{% endblock %}
{% block content %}
<h2>Cateraar</h2>
<hr>
<form action="." method="GET">
  <div class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control form-control-sm" name="q"  value="{{ query|escape }}" placeholder="Naam">
    </div>

    <div class="form-group col-md-2">
      <button type="submit" class="btn btn-primary btn-sm">Zoek</button>
    </div>
  
    <div class="form-group col-md-2">
      <div class="alert alert-dark" role="alert">
      {{aantal}} 
    </div>
  </div>
</form>
<br>

  {% if query %}
  <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Naam</th>
        <th scope="col">Soort</th>
        <th scope="col">Website</th>
      </tr>
    </thead>
    
    {% if results %}
    <tbody>
      {% for cateraar in results %}
         <!-- <th scope="row">{{contact.id}}</th> -->
         <th> {{cateraar.naam}} </th>
         <th> {{cateraar.soort}} </th> 
         <th> {{cateraar.website}} </th> 
         <th><a class="btn btn-sm btn-info" href="{% url 'editCateraar' cateraar.id %}">Edit</a></th>
         <th><a class="btn btn-sm btn-danger" href="{% url 'deleteCateraar' cateraar.id %}">Delete</a></th>
      </tbody> 
     {% endfor %}
    </table>
    {% else %}
      <p>Niks gevonden</p>
    {% endif %}
  {% endif %}
{% endblock %}