{% extends 'base.html' %}
{% block head_title %} 
{% endblock %}
{% block content %}
<h2>Zaal</h2>
<hr>
<form action="." method="GET">
    <div class="form-inline">
      <div class="form-group">
        <input type="text" class="form-control form-control-sm" name="q"  value="{{ query|escape }}" placeholder="Naam">
      </div>

      <div class="form-group col-md-2">
        <button type="submit" class="btn btn-primary btn-sm">Zoek</button>
      </div>
  </div>
</form>
<br>

  {% if query %}
  <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Naam</th>
        <th scope="col">Plaats</th>
        <th scope="col">Website</th>
        <th scope="col">Akties</th>
      </tr>
    </thead>
    
    {% if results %}
    <tbody>
      {% for zaal in results %}
         <!-- <th scope="row">{{contact.id}}</th> -->
         <th> {{zaal.naam}} </th>
         <th> {{zaal.plaats}} </th> 
         <th> {{zaal.website}} </th> 
         <th> {{zaal.aantal_leden}} </th>
         <th><a class="btn btn-sm btn-info" href="{% url 'editZaal' zaal.id %}">Edit</a></th>
         <th><a class="btn btn-sm btn-danger" href="{% url 'deleteZaal' zaal.id %}">Delete</a></th>
      </tbody> 
     {% endfor %}
    </table>
    {% else %}
      <p>Niks gevonden</p>
    {% endif %}
  {% endif %}
{% endblock %}