{% extends 'base.html' %}

{% block head_title %} {% endblock %}

{% block content %}

<form action="." method="GET">
    <label for="q">Zoek:</label>
    <select name="q" id="q" value="{{ query|escape }}">
        <option value="0">Nieuw</option>
        <option value="1">Actief</option>
        <option value="2">Verwijderen</option>
    </select>
    <input type="submit" value="Status">
</form>

  {% if query %}
  <table class="table">
    <thead>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Naam</th>
        <th scope="col">Plaats</th>
        <th scope="col">Email</th>
        <th scope="col">Akties</th>
      </tr>
    </thead>

    {% if results %}
    <tbody>
      {% for contact in results %}
        <!-- <th scope="row">{{contact.status}}</th> -->
         <th> {{contact.naam}} </th> 
         <th> {{contact.plaats}} </th>
         <th> {{contact.emailadress}} </th>
         <th><a class="btn btn-sm btn-info" href="{% url 'editContact' contact.id %}">Edit</a></th>
         <th><a class="btn btn-sm btn-danger" href="{% url 'deleteContact' contact.id %}">Delete</a></th>
      </tbody> 
     {% endfor %}
    </table>
    {% else %}
      <p>Niks gevonden</p>
    {% endif %}
  {% endif %}
{% endblock %}