{% extends 'base.html' %}
{% block head_title %} 
{% endblock %}
{% block content %}
<h2>Contacten</h2>
<hr>
<form action="." method="GET">
  <div class="form-inline">
    <div class="form-group">
      <input type="number" class="form-control form-control-sm" name="q"  value="{{ query|escape }}" placeholder="Mobiel / Telefoon Nr">
    </div>

    <div class="form-group col-md-2">
      <button type="submit" class="btn btn-primary btn-sm">Zoek</button>
    </div>
</div>
</form>
<br>

  {% if query %}
  <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">Telefoon</th>
        <th scope="col">Mobiel</th>
        <th scope="col">Naam</th>
        <th scope="col">Plaats</th>
        <th scope="col">Akties</th>
      </tr>
    </thead>

    {% if results %}
    <tbody>
      {% for contact in results %}
         <!-- <th scope="row">{{contact.id}}</th> -->
         <th> {{contact.telefoon}} </th>
         <th> {{contact.mobiel}} </th>
         <th> {{contact.naam}} </th> 
         <th> {{contact.plaats}} </th>
         <th><a class="btn btn-sm btn-info" href="{% url 'editContact' contact.id %}">Edit</a></th>
         <th><a class="btn btn-sm btn-danger" href="{% url 'deleteContact' contact.id %}">Delete</a></th>
      </tbody> 
     {% endfor %}
    </table>
    {% else %}
      <p>Niks gevonden</p>
    {% endif %}
  {% endif %}
{% endblock %}