{% extends 'base.html' %}
{% block head_title %} 
{% endblock %}
{% block content %}
<h2 class='container'>Tickets</h2>
<hr>

<div class="row font-weight-bold">
    <div class="col-md">
      {{evenement.naam}}
    </div>

    {% if aantal_tickets == 0 %}
    <div class="col">
      <strong>Er zijn geen tickets verkocht</strong>
    </div>

    {% else %}
    <div class="col">
      Aantal : {{aantal_tickets}}
    </div>

    <div class="col">
      Gereserveerd : {{voorverkoop}}
    </div>

    <div class="col">
      Opbrengst : {{opbrengst}} 
    </div>
  
    {% endif %}
    <div class="col-md"><div class="col-md"></div>
      <a class="btn-sm btn-success" href="{% url 'addTicket' evenement.id %}">Toevoegen</a>
    </div>
    
    <div class="col-md"><div class="col-md">
      <a class="btn-sm btn-dark" href="{% url 'printTicketsEvenement' evenement.id %}">Printen</a>
    </div>
  
</div>
<hr>

{% if aantal_tickets > 0 %}
<span class="border border-primary"></span>
<br>
<table class="table">
  <thead>
    <tr>
      <!-- <th scope="col">#</th> -->
      <th scope="col">Naam</th>
      <th scope="col">Aantal</th>
      <th scope="col">Voorverkoop</th>
      <th scope="col">Betaald</th>
      <th scope="col">Akties</th>
    </tr>
  </thead>
 
  <tbody>
    {% for ticket in result %}
       <th> {{ticket.contact}} </th>
       <th> {{ticket.aantal}} </th> 
       <th> {{ticket.voorverkoop}} 
        <label class="form-check-label" for="{{ticket.voorverkoop}} ">
        </label>
       </th> 
       <th> {{ticket.betaald}} </th>  
       <th><a class="btn btn-sm btn-info" href="{% url 'editTicket' ticket.id %}">Edit</a></th>
       <th><a class="btn btn-sm btn-danger" href="{% url 'deleteTicket' ticket.id %}">Delete</a></th>
    
    </tbody>
   {% endfor %}
  </table>
  {% endif %}
 </div>
{% endblock %}